<!-- Navigation Bar Component -->
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <a href="index.html" class="navbar-brand">NoseBoop</a>
      <div class="navbar-links">
        <div class="nav-link nav-dropdown">
          <span>Product</span>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Premium features</a>
            <div class="dropdown-item dropdown-submenu">
              <span>Subscription Tiers</span>
              <div class="dropdown-menu submenu">
                <a href="#" class="dropdown-item">NoseBoop Plus</a>
                <a href="#" class="dropdown-item">NoseBoop Gold</a>
                <a href="#" class="dropdown-item">NoseBoop Premium</a>
              </div>
            </div>
          </div>
        </div>
        <a href="safety.html" class="nav-link">Safety</a>
        <a href="support.html" class="nav-link">Support</a>
        <a href="download.html" class="nav-link">Download</a>
      </div>
    </div>
    <div class="navbar-right">
      <button type="button" class="login-button">Log in</button>
    </div>
  </div>
</nav>
